<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-3">Welcome to my website</h1>
  <p class="lead">I'm a developer and designer. Check my portfolio below</p>
  <p class="lead">This site was created for DonNTU to have very nice score. Hope all will be okey</p>
</div>
